attrs
certifi
charset-normalizer
colorama
configparser
crayons
decorator==5.0.9
Faker
idna
iniconfig
packaging
pluggy
py
pyparsing
pytest
python-dateutil
requests
selenium
self==2020.12.3
six
text-unidecode
toml
urllib3
webdriver-manager
